@model AdminEAD.Models.Igreja

@{
    ViewData["Title"] = "Create";
}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Igrejas</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Endereco" class="control-label"></label>
                            <input asp-for="Endereco" class="form-control" />
                            <span asp-validation-for="Endereco" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Numero" class="control-label"></label>
                            <input asp-for="Numero" class="form-control" />
                            <span asp-validation-for="Numero" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Bairro" class="control-label"></label>
                            <input asp-for="Bairro" class="form-control" />
                            <span asp-validation-for="Bairro" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cidade" class="control-label"></label>
                            <input asp-for="Cidade" class="form-control" />
                            <span asp-validation-for="Cidade" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Uf" class="control-label"></label>
                            <input asp-for="Uf" class="form-control" />
                            <span asp-validation-for="Uf" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Responsavel" class="control-label"></label>
                            <input asp-for="Responsavel" class="form-control" />
                            <span asp-validation-for="Responsavel" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tradicao" class="control-label"></label>
                            <input asp-for="Tradicao" class="form-control" />
                            <span asp-validation-for="Tradicao" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Capacidade" class="control-label"></label>
                            <input asp-for="Capacidade" class="form-control" />
                            <span asp-validation-for="Capacidade" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Ativo" class="control-label"></label>
                            <input asp-for="Ativo" class="form-control" />
                            <span asp-validation-for="Ativo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>