@model AdminEAD.Models.Participacao

@{
    ViewData["Title"] = "Participacao";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Inserir Participante no Culto</h6>
    </div>
    <div class="card-body">
        @Html.Raw(ViewBag.AlertMessage)
        <form asp-action="AddPresenca">
            <p>Campos de Preenchimento Obrigatório <i class="text-danger">*</i></p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdCulto" class="control-label"><b>Culto</b> <i class="text-danger">*</i></label>
                        <select asp-for="IdCulto" class="form-control" required asp-items="ViewBag.IdCulto"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" required maxlength="100" placeholder="Nome do Participante" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Telefone" class="control-label"></label>
                        <input asp-for="Telefone" class="form-control" placeholder="(XX) XXXXX-XXXX" required maxlength="16" data-mask="(00)00000-0000"/>
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="QtdCriancas" class="control-label"></label>
                        <input asp-for="QtdCriancas" class="form-control" required min="0" max="3" placeholder="Quantidade de Crianças" />
                        <span asp-validation-for="QtdCriancas" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="QtdAdultos" class="control-label"></label>
                        <input asp-for="QtdAdultos" class="form-control" required min="1" max="2" placeholder="Quantidade de Adultos" />
                        <span asp-validation-for="QtdAdultos" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="ChaveApp" class="form-control" value="-" /><br />
            @if (Model != null)
            {
                if (Model.IdParticipacao > 0)
                {
                    <div class="form-actions left">
                        <a asp-controller="Cultos" asp-action="Index" class="btn btn-secondary">Voltar</a>
                    </div>
                }
                else
                {
                    <div class="form-actions left">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i> Salvar
                        </button>
                        <a asp-controller="Cultos" asp-action="Index" class="btn btn-secondary">Voltar</a>
                    </div>
                }
            }
            else
            {
                <div class="form-actions left">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check"></i> Salvar
                    </button>
                    <a asp-controller="Cultos" asp-action="Index" class="btn btn-secondary">Voltar</a>
                </div>
            }
        </form>
    </div>
</div>
@section scripts{

    <script src="~/vendor/jquery-mask/dist/jquery.mask.min.js"></script>
}