@{
    ViewData["Title"] = "Home";
}

<br />
<!-- Content Row -->
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Seja bem vindo ao painel administrativo web <b style="color: #8b57c9">e</b>Culto</h4>
        <h5 class="text-center">Administre e forneça as autoridades sanitárias informações sobre quem esteve presente nos cultos</h5>
        <h5 class="text-center">Trazendo rastreabilidade a possíveis infecções por Covid-19</h5>
        <img class="img-fluid" style="margin:0 auto; display:block" src="~/img/logo.png"/>
        <h3 class="text-center"><b style="color: #8b57c9">e</b>Culto</h3>
    </div>
</div>
